$charcoal: #18191A;


.profile {
    height: 100vh;
    width: 100vw;
    background-color: $charcoal;
    display: flex;
    justify-content: center;
}

.center {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-bottom: none;
}

.user-info {
    width: 100%;
    display: flex;
    background-color: rgba($color: white, $alpha: .4);
    height: 20vh;
}

.banner {
    width: 100%;
}

.profile-banner {
    width: 100%;
    height: 100%;
}

.rank-profile-container {
    height: 50%;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0%;
}

.profile-image-profile {
    width: 80%;
    border-radius: 50%;
}

.rank-container {
    width: 40%;
}

.rank-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-rank {
    width: 10%;
}

.acc-icon-and-rank {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.info-container {
    width: 70%;
}

.bio {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    height: 100%;
}

.username-container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10%;
    justify-content: center;
}

.left {
    margin-right: 5%;
}

@media only screen and (max-width: 480px) {
    .img {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile {
        display: block;
    }

    .profile-image-profile {
        width: 90%;
        border-radius: 5px;
    }

    .user-info {
        margin-top: 5vh;
        border: 2px solid gray;
        height: 20vh;
        display: flex;
    }

    .acc-icon-and-rank {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 100%;
    }

    .info-contianer {
        width: 70%;
    }

    .rank-profile {
        height: 50%;
    }

    .profile-rank {
        width: 25%;
    }

    .rank-title {
        font-size: medium;
    }

    .username {
        font-size: xx-large;
    }
    .info-container {
        width: 70%;
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stats {
        margin-top: 15%;
    }
}