$charcoal: #18191A;

.nav {
    height: 50%;
    width: 20vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
.navbar {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
}
  

.icon-nav {
    position: absolute;
    margin-right: 7.5%;
    color: white;
    transform: scale(1.5);
}

.nav-item {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
        background-color: white;

        .nav-item-text {
            color: $charcoal;
        }
    
        .icon-nav {
            color: $charcoal;
        }
    }
}

.nav-item-text {
    font-size: 1.2rem;
    width: 100%;
    height: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side-home {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 5%;
}

.mobile-icons {
    display: none;
}

@media only screen and (max-width: 480px) {
    .nav-item-text {
        display: none;
    }

    .icon-nav {
        position: relative;
        margin: 0;
        width: fit-content !important;
    }

    .nav {
        justify-content: flex-start;
        height: 100%;
    }

    .navbar {
        border-left: none;
        border-top: none;
        border-bottom: none;
        border-radius: 0;
        height: 90%;
    }

    .mobile-icons {
        display: block;
    }

}