$neon-yellow: #FFFF33;

.landingNav {
    height: 10%;
    width: 100vw;
    display: flex;
}
  
.logo {
    width: 25%;
    color: $neon-yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menu-item:hover{
    cursor: pointer;
}
  
.landing-nav-menu {
    display: flex;
    color: white;
    align-items: center;
    width: 75%;
    justify-content: flex-end;
    padding-right: 5%;
}
  
.menu-item {
    margin: 0 5%;
    font-size: 1em;
    width: 100%;
}