.tribunal-title {
    width: 90%;
    text-align: left;
}
  
.tribunal {
    border: 1px solid white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.tribunal-container {
    width: 90%;
    height: 100%;
}
  
.tribunal-ph {
    color: gray;
    width: 100%;
    text-align: center;
}
  
  
.tribunal-video {
    width: 13%;
    height: 100%;
    border-right: 3px solid black;
}

.left-side-home {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    .tribunal {
        width: 100%;
        height: 15%;
    }

    .center-home {
        width: 75%;
        padding-top: 15%;
    }
}