@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

:root {
  --neon-yellow: #FFFF33;
  --neon-red: #FF3131;
  --neon-blue: #0062FF;
  --neon-pink: #FF0099;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}


* {
  margin: 0;
  padding: 0;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.game-title {
  color: var(--neon-yellow);
  display: flex;
  flex-direction: column;
  font-size: 8em;
  align-items: center;
  text-shadow: 0px 0px 5px black;
  justify-content: center;
}

.deck, .of {
  padding-right: 20%;
}

.life {
padding-right: 3%;
}

.home {
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: 'Orbitron', sans-serif;
  width: 100vw;
}

.hidden {
  display: none;
}

.home-header {
  height: 100vh;
  /* background-image: linear-gradient(90deg, #00072D, 10vw, black, black); */
  position: absolute;
}

.homepage-cards {
  width: 40%;
  height: 100%;
}

.home-content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 0 2% 0;
}


.title-img-container {
  height: 80%;
  display: flex;
  align-items: center;
  width: 80%;
}

.yellow-neon {
  color: var(--neon-yellow);
}

.home-register-btns {
  width: 100%;
  height: 10%;
  padding-left: 15%;
}

.init-btns {
  margin-right: 5%;
  width: 10%;
  height: 60%;
  background-color: var(--neon-yellow);
  border: none;
  position: relative;
  border-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 10%;
}

.init-btns:hover {
  cursor: pointer;
  background-color: black;
  border: 1px solid var(--neon-yellow);
  color: var(--neon-yellow);
}

.req-access:hover {
  background-color: var(--neon-yellow);
  color: black;
}

.req-access {
  background-color: rgba(0, 0, 0, 0);
  color: var(--neon-yellow);
  border: 1px solid var(--neon-yellow);
}

.landingNav {
  height: 10%;
  width: 100vw;
  display: flex;
}

.logo {
  width: 25%;
  color: var(--neon-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item:hover{
  cursor: pointer;
}

.landing-nav-menu {
  display: flex;
  color: white;
  align-items: center;
  width: 75%;
  justify-content: flex-end;
  padding-right: 5%;
}

.menu-item {
  margin: 0 5%;
  font-size: 1em;
  width: 100%;
}

.about-the-game {
  height: 100vh;
}

.display-flex-jc-center {
  display: flex;
  justify-content: center;
}

.about-title {
  margin-top: 2vh;
}

.hideLink {
  text-decoration: none;
  color: white;
  width: 15%;
  text-align: center;
}

.about-sections {
  width: 100vw;
  display: flex;
}

.underlay {
  position: absolute;
  width: 100%;
  display: flex;
}

.underlay-section {
  width: 25%;
  height: 100vh;
  z-index: 1;
  color: white;
}

.section-club-info {
  background-color: var(--neon-yellow);
}

.section-diamond-info {
  background-color: var(--neon-red);
}

.section-spade-info {
  background-color: var(--neon-blue);
}

.section-heart-info {
  background-color: var(--neon-pink);
}

.container-club, .container-diamond, .container-spade, .container-heart {
  width: 25%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 2;
}

.info {
  color: green;
  height: 30%;
  width: 25%;
  position: absolute;
  margin-right: 2.5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-title {
  color: white;
  text-shadow: 0px 0px 10px black;
  font-size: 4em;
}

.club-info {
  background-color: var(--neon-yellow);
}

.spade-info {
 background-color: var(--neon-blue);
}

.diamond-info {
  background-color: var(--neon-red);
}

.heart-info {
  background-color: var(--neon-pink);
}

.card-section {
  display: flex;
  justify-content: center;
}

.card-img-about {
  width: 90%;
}

.diamond {
  width: 88%;
}

.spade {
  width: 87%;
}