@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Roboto:wght@300&display=swap');

:root {
  --neon-yellow: #FFFF33;
  --neon-red: #FF3131;
  --neon-blue: #0062FF;
  --neon-pink: #FF0099;
  --charcoal: #18191A;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.game-title {
  color: var(--neon-yellow);
  display: flex;
  flex-direction: column;
  font-size: 8em;
  align-items: center;
  text-shadow: 0px 0px 5px black;
  justify-content: center;
}

.deck, .of {
  padding-right: 20%;
}

.life {
padding-right: 3%;
}

.home {
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: 'Orbitron', sans-serif;
  width: 100vw;
}

.hidden {
  display: none;
}

.home-header {
  height: 100vh;
  position: absolute;
}

.homepage-cards {
  width: 40%;
  height: 100%;
}

.home-content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 0 2% 0;
}


.title-img-container {
  height: 80%;
  display: flex;
  align-items: center;
  width: 80%;
}

.yellow-neon {
  color: var(--neon-yellow);
}

.home-register-btns {
  width: 100%;
  height: 10%;
  padding-left: 15%;
}

.init-btns {
  margin-right: 5%;
  width: 10%;
  height: 60%;
  background-color: var(--neon-yellow);
  border: none;
  position: relative;
  border-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 10%;
}

.init-btns:hover {
  cursor: pointer;
  background-color: black;
  border: 1px solid var(--neon-yellow);
  color: var(--neon-yellow);
}

.req-access:hover {
  background-color: var(--neon-yellow);
  color: --charcoal;
}

.req-access {
  background-color: rgba(0, 0, 0, 0);
  color: var(--neon-yellow);
  border: 1px solid var(--neon-yellow);
}

.landingNav {
  height: 10%;
  width: 100vw;
  display: flex;
}

.logo {
  width: 25%;
  color: var(--neon-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item:hover{
  cursor: pointer;
}

.landing-nav-menu {
  display: flex;
  color: white;
  align-items: center;
  width: 75%;
  justify-content: flex-end;
  padding-right: 5%;
}

.menu-item {
  margin: 0 5%;
  font-size: 1em;
  width: 100%;
}

.about-the-game {
  height: 100vh;
}

.display-flex-jc-center {
  display: flex;
  justify-content: center;
}

.about-title {
  margin-top: 2vh;
}

.hideLink {
  text-decoration: none;
  color: white;
  width: 15%;
  text-align: center;
}

.about-sections {
  width: 100vw;
  display: flex;
}

.underlay {
  position: absolute;
  width: 100vw;
  display: flex;
}

.underlay-section {
  width: 25%;
  height: 100vh;
  z-index: 1;
  color: white;
}

.section-club-info {
  background-color: var(--neon-yellow);
}

.section-diamond-info {
  background-color: var(--neon-red);
}

.section-spade-info {
  background-color: var(--neon-blue);
}

.section-heart-info {
  background-color: var(--neon-pink);
}

.container-club, .container-diamond, .container-spade, .container-heart {
  width: 25vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 2;
}

.info {
  color: green;
  height: 100%;
  width: 25%;
  position: absolute;
  margin-right: 2.5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-title {
  color: white;
  text-shadow: 0px 0px 10px black;
  font-size: 4em;
}

.club-info {
  background-color: var(--neon-yellow);
  width: 25%;
}

.spade-info {
 background-color: var(--neon-blue);
}

.diamond-info {
  background-color: var(--neon-red);
}

.heart-info {
  background-color: var(--neon-pink);
}

.card-section {
  display: flex;
  justify-content: center;
  width: 25vw;
}

.card-img-about {
  width: 90%;
}

.diamond {
  width: 88%;
}

.spade {
  width: 87%;
}

.info-p {
  color: white;
  padding:  5% 5%;
  font-size: 1.7rem;
  text-shadow: 0px 0px 5px black;
  text-align: center;
}

.updates-news {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.update {
  width: 20%;
  margin: 5% 2% 0% 5%;
  box-shadow: 0px 0px 10px 1px gray;
  padding: 2% 2% 0 2%;
  border-radius: 5px;
}

.update-img {
  width: 100%;
  border-radius: 10px;
}

.update-title {
  text-align: center;
  color: white;
  margin-top: 5%;
}

.update-date {
  color: white;
  margin-bottom: 1%;
}

.read-news {
  display: flex;
  justify-content: flex-end;
  padding-top: 10%;
  padding-bottom: 5%;
}

.read-update-news {
  height: 5vh;
  width: 30%;
  border-radius: 15px;
  border: none;
  background-color: var(--neon-red);
  color: white;
  font-size: .875rem;
}

.read-update-news:hover {
  cursor: pointer;
  background-color: black;
  border: 2px solid var(--neon-red);
  color: var(--neon-red);
}

.font {
  font-family: 'Orbitron', sans-serif;
}

.divider {
  border: 1px solid var(--neon-yellow);
  width: 50%;
  margin: 5% 0;
}

.modal-desc {
  text-align: center;
}

.small {
  font-size: small;
}

.input-email-req, .input-code-req {
  width: 85%;
  height: 3.5vh;
  margin-top: 6%;
  background-color: black;
  color: var(--neon-yellow);
  padding: 1% 3%;
  font-size: large;
  border: none;
  border-bottom: 1px solid var(--neon-yellow);
}

.input-email-req:focus, .input-code-req:focus {
  outline: none;
}

.init-req-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.init-req-form-btn {
  margin-top: 5%;
  width: 30%;
  height: 3.5vh;
  background-color: black;
  border: 1px solid var(--neon-yellow);
  border-radius: 5px;
  color: var(--neon-yellow);
}

.init-req-form-btn:hover {
  cursor: pointer;
  background-color: var(--neon-yellow);
  color: black;
}

.modal-desc-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  text-align: center;
}

.login-page, .signup-page {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  overflow-y: hidden;
}

.login-img {
  width: 50%;
}

.cyberpunk-login-img {
  width: 100%
}

.login-info {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.login-title {
  color: var(--neon-yellow);
  margin-bottom: 5%;
  font-size: 4rem;
  text-align: center;
  width: 90%;
}

.login-input {
  border: none;
  border-bottom: 1px solid var(--neon-yellow);
  background-color: black;
  width: 50%;
  margin: 3% 0;
  color: var(--neon-yellow);
  height: 5vh;
  font-size: 1.3rem;
  padding: 0 1.5%;
}

.login-input:focus {
  outline: none;
  background-color: rgba(255, 255, 51, .2);
}

.login-form-submit {
  width: 40%;
  height: 5vh;
  background-color: black;
  border: 1px solid var(--neon-yellow);
  color: var(--neon-yellow);
  font-size: 1.2rem;
}

.login-form-submit:hover {
  cursor: pointer;
  background-color: var(--neon-yellow);
  color: black;
}

.input-password {
  margin-bottom: 0;
}

.forgot-password {
  text-decoration: none;
  margin: 0% 0% 3% 0%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--neon-blue);
  font-family: 'Roboto', sans-serif;
}

.user-actions-login {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.remember-me-div {
  display: flex;
  align-items: center;
  width: 50%;
}

.remember-text {
  margin-left: 5%;
  color: var(--neon-blue);
  font-family: 'Roboto', sans-serif;
}

.remember-me-checkbox:hover {
  outline: none;
}

.blue-neon {
  color: var(--neon-blue);
}

.red-neon {
  color: var(--neon-red);
}

.login-img-mobile {
  display: none;
}

.signup-img-container {
  width: 50vw;
}

.signup-info {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-img {
  width: 100%;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.signup-title {
  height: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 5%;
  color: white;
  font-size: 4rem;
}


.signup-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
}

.signup-input {
  border: 1px solid gray;
  background-color: black;
  margin-bottom: 5%;
  padding: 1.5% 3%;
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.last-input {
  margin-bottom: 0%;
}

.signup-input:focus {
  outline: none;
  border: 1px solid var(--neon-blue);
}

.tos-check {
  color: white;
}

.signup-submit {
  height: 8%;
  width: 20%;
  margin-top: 5%;
  background-color: var(--neon-blue);
  border: 1px solid var(--neon-blue);
  border-radius: 7px;
  color: white;
  font-size: 1rem;
}

.signup-submit:hover {
  background-color: black;
  cursor: pointer;
}

.tos-privacy-link {
  text-decoration: none;
  color: var(--neon-blue);
}

.home-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--charcoal);
}

.white {
  color: white;
}

.nav {
  height: 50%;
  width: 20vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  height: 100%;
  border-radius: 10px;
  justify-content: center;
}

.nav-item {
  width: 100%;
  height: 20%;
}

.nav-item:hover {
  cursor: pointer;
  background-color: white;
}

.nav-item-text {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item-text:hover {
  color: var(--charcoal);
}

.left-side-home {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 5%;
  height: 100vh;
}

.account-icon-user-card {
  width: 25%;
  height: 70%;
}

.account-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-card {
  border: 1px solid white;
  width: 65%;
  height: 30%;
  margin-bottom: 5%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card-username {
  font-size: 1.3rem;
  width: 70%;
}

.account-username-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 100%;
}

.user-card-divider {
  border: 1px solid rgba(255, 255, 255, .1);
  width: 80%;
  border-radius: 50%;
}

@media only screen and (max-width: 1536px) {
  .info-p {
    font-size: 1.3rem;
  }

  .info-title {
    font-size: 3rem;
  }

  .menu-item {
    font-size: .8rem;
  }

  .init-btns {
    padding: 0 2%;
  }
}

@media only screen and (max-width: 480px) {
  .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-page {
    display: flex;
    flex-direction: column;
  }

  .login-title {
    width: 100%;
    display: none;
  }

  .login-img-mobile {
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 5% 2% 0 0;
    height: 50%;
  }

  .mobile-img {
    width: 100%;
  }
  
  .user-actions-login {
    width: 85%;
    margin-bottom: 30%;
  }

  .login-input {
    width: 85%;
    border-bottom: 1px solid lightgray;
    color: gray;
  }

  .login-form-submit {
    width: 85%;
    border: 1px solid lightgray;
    color: lightgray;
  }

  .login-form-submit:hover {
    color: lightgray;
  }

  .login-info {
    width: 100%;
    padding: 0;
    height: 50%;
  }

  .menu-item {
    font-size: .8rem;
  }

  .hideLink {
    width: 25%;
  }

  .about-sections {
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    padding-left: 2%;
  }

  .home-register-btns {
    padding-left: 5%;
  }

  .init-btns {
    padding: 0 2%;
    width: 40%;
    padding: 0;
  }

  .home {
    width: 400%;
  }

  .login-img {
    display: none;
  }

  .underlay {
    display: flex;
    flex-wrap: wrap;
  }

  .underlay-section {
    width: 50vw;
    height: 50vh;
    flex-wrap: wrap;
    position: relative;
  }

  .info-p {
    font-size: .8rem;
    width: 90%;
    padding: 10% 0;
  }

  .info-title {
    font-size: 2rem;
  }

  .info {
    width: 100%;
  }

  .card-cover {
    width: 50vw;
    height: 50vh;
  }

  .about-the-game {
    display: flex;
    align-items: center;
  }

  .card-img-about {
    width: 100%;
  }

  .card-section {
    width: 100%;
  }

  .card-img-about {
    width: 85%;
  }

  .updates {
    width: 50%;
  }

  .update-date {
    font-size: .7rem;
  }

  .update-title {
    font-size: 1rem;
  }

  .read-update-news {
    width: 50%;
    height: 3vh;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
  }

  .updates { 
    display: flex;
    justify-content: center;
  }

  .update {
    margin: 0;
    width: 100%;
  }

  .new-update {
    width: 100%;
  }

  .updates-news {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 3%;
  }
}